<div class="container mt-5">
  <table class="table table-striped bg-warning text-bg-warning mb-3">
    <thead class="text-bg-warning mb-3 bg-warning">
      <tr>
        <th class="text-bg-warning mb-3 bg-warning">Pizza</th>
        <th class="text-bg-warning mb-3 bg-warning">Cantidad</th>
        <th class="text-bg-warning mb-3 bg-warning">Acciones</th>
      </tr>
    </thead>
    <tbody class="text-bg-warning mb-3 bg-warning">
      <tr *ngFor="let item of data">
        <td>{{ item.pizza }}</td>
        <td>{{ item.cantidad }}</td>
        <td>
          <button class="text-bg-warning mb-3 bg-warning" (click)="decreaseQuantity(item)">-</button>
          <button class="text-bg-warning mb-3 bg-warning" (click)="increaseQuantity(item)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-warning bg-warning text-bg-warning mb-3" (click)="saveChanges()">Guardar</button>
</div>
